* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    overflow: hidden;
}

renderer.domElement {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.username {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    position: absolute;
    right: -1px; /* Slightly outside the screen */
    top: 50%;
    transform: translateY(-50%) rotate(180deg); /* Center vertically and rotate */
    background-color: #000; /* Dark background */
    color: #fff; /* White text color */
    padding: 1px; /* Padding around the text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for better visibility */
    z-index: 1000; /* Ensure it is on top of other elements */
    overflow: hidden; /* Hide overflow for the pseudo-element */
    box-sizing: border-box; /* Include padding in the width */
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
    .username {
        font-size: 18px; /* Smaller font size for tablets */
        right: 0px; /* Adjust position */
    }
}

@media (max-width: 480px) {
    .username {
        font-size: 14px; /* Smaller font size for mobile phones */
        right: 0px; /* Adjust position */
    }
}

@media (max-height: 800px) {
    .username {
        font-size: 16px; /* Smaller font size for shorter heights */
    }
}

@media (max-height: 600px) {
    .username {
        font-size: 14px; /* Even smaller font size for shorter heights */
    }
}

@media (max-height: 400px) {
    .username {
        font-size: 12px; /* Minimum font size */
        white-space: nowrap; /* Prevent wrapping */
    }
}